.active-song{
    background-color: #31b0d5;
}
.navbar {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 5px;
}
.mx-background-top-linear {
    background-color: #31b0d5;
}
.header-text{
    font-size: 24px;
    font-family: cursive;
    color:#fff;
}
.header-text:hover{
    font-family: cursive;
    color: #d5eeff;
}
.error-info{
    display: none;
    color: #a94442
}
ul li{
    list-style: none;
}

#button_ffw{
    font-size: 20px;
    border-radius: 22px;
    margin-bottom: 19px;
}
.genre-list{
    text-align:center
}
.panel-scroll{
    max-height: 570px;
    overflow-y: scroll;
}
.music-list{
    width: 228px;
}
#headStyleList{
    background-color: #31b0d5;
    color: #f5f8fa;
}
#headStyleMenu{
    border-bottom: 1px solid #dedede;
    margin-bottom: 15px;
    background-color: #31b0d5;
    color: #f5f8fa;
}
.decoration-none {
    text-decoration: none !important;
}
.login-user-name {
    color: #fff !important;
}
.header-text2{
    font-size: 17px;
    font-family: cursive;
    color:#fff !important;
}
.header-text2:hover{
    font-family: cursive;
    color: #d5eeff;
}
.menu-list{
    padding-right: 15px;
}
.avatar-position{
    border: 2px solid rgb(225,253,255);
    width: 250px;
    height: 250px;
    float: right;
}
.bottom-button{
    position:absolute;
    bottom:0px;
}
.user-avatar{
    max-height: 250px;
    max-width: 250px;
}
/*-----------------Playlist page styles-------------------*/
.playlist-background{
    height: 110px;
    width: 110px;

}
.playlist-div{
    border: 1px solid #22aed4;
    width: 135px;
    text-align: center;
    margin-left: 10px;
    padding: 5px;
}
.a-text-decor{
    text-decoration: none !important;
    color: #22aed4;
}
.a-text-decor:hover{
    font-size: 15px;
    font-weight: bold;
    text-decoration: none !important;
    color: #1c97d4;
}
.playlist-font-family{
    font-family: fantasy;
}
body{
    background-image: url("../images/default/b2.gif");
}

.card-header{
    border-bottom: 3px solid #31b0d52e !important;
    background-color: #31b0d517 !important;
}
.card{
    border: 2px solid #31b0d554 !important;
}
.players-title{
    font-size: large;
    font-family: cursive;
    color: #31b0d5d6;
}
.playlist-songs-list{
    max-height: 355px;
    overflow:auto;
}
.successful{
    display: none;
    margin-top: 10px;
    font-size: large;
    font-family: cursive;
    color: #38c172;
}
.delete-song{
    background-color: #f7bbb5;
    border: 1px solid #f7bbb5;
}
.songs-content{
    margin-top: 4px;
}
.remove-songs-checkbox{
    display: none;
}
.delete-selected{
    display: none;
    margin-right: 5px;
}
.multiple-delete-style{
    float: right;
    color: rgb(143, 222, 245);
    background-color: rgb(236, 248, 251);
    border: 1px solid rgb(187, 229, 241);
}
.multiple-delete-style:hover {
    float: right;
    color: #31b0d5d6;
    background-color: #fff;
    border: 1px solid #31b0d5d6;
}
.delete-selected {
    float: right;
    color: rgb(245, 143, 143);
    background-color: #fff;
    border: 1px solid rgb(245, 143, 143);
}
.delete-selected:hover{
    float: right;
    color: rgb(220, 117, 117);
    background-color: #fff;
    border: 1px solid rgb(209, 148, 148);
}

.remove-songs-checkbox{
    width: 26px;
    height: 23px;
    padding: 0;
    margin:0;
    vertical-align: bottom;
    position: relative;
    top: -1px;
    *overflow: hidden;
}
.song-text-color{
    color: #179abd;
}
.playlist-song-name{
    font-weight: bold;
}
.singer-name{
    margin-left: 12px;
}
.singer{
    margin-left: 45px;
}
.information-div{
    display: none;
}
.delete-success-information{
    font-size: large;
    font-family: cursive;
    color: #38c172;
}
.delete-error-information{
    font-size: large;
    font-family: cursive;
    color: #f1f1f1;
    background-color: #d19494;
}
.second-section{
    margin-top: 12px;
}














