.active-song{
    background-color: #31b0d5;
}

.navbar {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 5px;
}

.mx-background-top-linear {
    background-color: #31b0d5;
}
.header-text{
    font-size: 24px;
    font-family: cursive;
    color:#fff;
}
.header-text:hover{
    font-family: cursive;
    color: #d5eeff;
}
.error-info{
    display: none;
    color: #a94442
}

ul li{
    list-style: none;
}

#button_ffw{
    font-size: 20px;
    border-radius: 22px;
    margin-bottom: 19px;
}
.genre-list{
    text-align:center
}
.panel-scroll{
    max-height: 570px;
    overflow-y: scroll;
}
.music-list{
    width: 228px;
}
#headStyleList{
    background-color: #31b0d5;
    color: #f5f8fa;
}
#headStyleMenu{
    border-bottom: 1px solid #dedede;
    margin-bottom: 15px;
    background-color: #31b0d5;
    color: #f5f8fa;
}
.decoration-none {
    text-decoration: none !important;
}

.login-user-name {
    color: #fff !important;
}

.header-text2{
    font-size: 17px;
    font-family: cursive;
    color:#fff !important;
}
.header-text2:hover{
    font-family: cursive;
    color: #d5eeff;
}

.menu-list{
    padding-right: 15px;
}

.avatar-position{
    border: 2px solid rgb(225,253,255);
    width: 250px;
    height: 250px;
    float: right;
}
.bottom-button{
    position:absolute;
    bottom:0px;
}
.user-avatar{
    max-height: 250px;
    max-width: 250px;
}


















